<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mondo | News</title>
  <link rel="icon" href="/favicon.ico">
  <link rel="stylesheet" href="/index.css">
</head>

<body>
  <header>
    <img class="logo" src="/logo.png" alt="Mondo News">
    <h1> Mondo News </h1>
    <time class="time"> <%= time %> </time>
  </header>
  <section>
    <ul>
      <% list.forEach(function(news) { %>
      <li class="news">
        <a class="title" href="<%= news.href %>" target="_blank">
          <h3>
            <%= news.title %>
            <% if (news.hot) {%>
            <img class="hot" src="/hot.svg" />
            <%}%>
            </h3>
          </a>
          <div class="tag">
            <%= news.tag %>
          </div>
      </li>
      <%})%>
    </ul>
  </section>
  <div class="top" id="top">
    <img src="/top.svg" alt="置顶">
  </div>
  <script>
    var $top = document.querySelector('#top');
    window.addEventListener('scroll', function(e) {
      var sTop = document.body.scrollTop || document.documentElement.scrollTop;
      if(+sTop > 600){
        $top.style.opacity = 1;
      }else {
        $top.style.opacity = 0;
      }
    })
    $top.addEventListener('click', function() {
      window.scrollTo(0, 0);
    })
  </script>
</body>

</html>